@import "tailwindcss";

@theme {
  --color-brand-sage: #616b47;
  --color-brand-light: #f4f7f5;
  --color-brand-sky: #e0f2f1;
  --color-brand-deep: #1a1c1a;

  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}